/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --orange-500: hsl(25, 97%, 53%);

  /* # NEUTRAL # */
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-900: hsl(213, 19%, 18%);
  --grey-950: hsl(216, 12%, 8%);

  /* # TYPOGRAPHY # */
  --ff-overpass: "Overpass", sans-serif;
  --fw-400: 400;
  --fw-700: 700;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ### UTILITY CLASSES ### */

/* .circle-bg {
  padding: 0.4rem;
} */

.title {
  font-weight: var(--fw-700);
  color: var(--white);
  font-size: 1.5rem;
}

.description {
  font-size: 0.875rem;
  line-height: 1.8;
}

/* ### GENERAL STYLING ### */

body {
  background-color: var(--grey-950);
  font-family: var(--ff-overpass);
  font-weight: var(--fw-400);
  color: var(--grey-500);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1.5rem;
}

/* ### RATING COMPONENT ### */

.rating-component {
  background: linear-gradient(to bottom, rgb(34 41 51), rgb(24 31 41));
  padding: 1.8rem 1.6rem;
  border-radius: 0.985rem;
}

.rating-component h1 {
  margin-top: 1.5rem;
}

.rating-component p.description {
  margin-top: 0.8rem;
}

.star-container {
  width: 42px;
  height: 42px;
  border-radius: 200px;
  background-color: #272e38;
  background-image: url(./images/icon-star.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36%;
}

form {
  margin-top: 1.4rem;
  display: grid;
  gap: 1.425rem;
}

.ratings-inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input[type="radio"] {
  appearance: none;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background-color: #272e38;
  position: relative;
}

input[type="radio"]::before {
  color: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
  font-weight: var(--fw-700);
  display: block;
  line-height: 1;
}

input[type="radio"]:hover {
  background-color: var(--white);
  color: var(--grey-950);
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: var(--orange-500);
  color: var(--grey-950);
}

input[type="radio"]:nth-of-type(1)::before {
  content: "1";
}

input[type="radio"]:nth-of-type(2)::before {
  content: "2";
}

input[type="radio"]:nth-of-type(3)::before {
  content: "3";
}

input[type="radio"]:nth-of-type(4)::before {
  content: "4";
}

input[type="radio"]:nth-of-type(5)::before {
  content: "5";
}

form button {
  border: none;
  border-radius: 200px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.925rem;
  background-color: var(--orange-500);
  color: var(--grey-950);
  padding: 1rem 1rem;
  font-weight: var(--fw-700);
  line-height: 1;
}

form button:hover {
  background-color: var(--white);
  cursor: pointer;
}

/* ### DIALOG ### */

dialog {
  color: inherit;
  text-align: center;
  border: none;
  border-radius: 0.9rem;
  background: linear-gradient(to bottom, rgb(34 41 51), rgb(24 31 41));
  padding: 1.8rem 1.6rem;
  margin: auto;
}

dialog::backdrop {
  background-color: var(--grey-950);
}

dialog img {
  margin-inline: auto;
}

.rating-selection-message {
  color: #d3752c;
  font-weight: var(--fw-700);
  margin-top: 1.5rem;
  background-color: #272e38;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  border-radius: 200px;
  font-size: 0.985rem;
}

dialog h2 {
  margin-top: 1.5rem;
}

dialog p.description {
  margin-top: 0.625rem;
}

/* ### MEDIA QUERIES ### */

@media (min-width: 23.438em) {
  h1 {
    font-size: 1.8rem;
  }

  p.description {
    font-size: 0.925rem;
  }

  .rating-component {
    max-width: 390px;
    padding: 2rem 2.2rem;
  }
}
